<% if(cfg.isLoggedIn) { %>
<a href="/page/new<%= path %>"><span class="badge text-bg-primary">edit<span></a>
<a href="/page/delete<%= path %>"><span class="badge text-bg-danger">delete<span></a>
<% } %>