<%- include('_header'); %>
<style>
    .form-select {
        max-width: 300px;
    }
    input {
        max-width: 300px;
    }
    textarea {
        max-width: 600px;
        height: 250px;
    }
</style>
<div class="container">
    <h2><%= title1 %></h2>
    <div class="mb-3">Layout: 
        <select id="layout" class="form-select" name="layout" onchange="change(this)" aria-label="Layout select" >
          <option selected>text-with-title</option>
          <option>gallery</option>
        </select>
    </div>
    <div class="mb-3" id="heading">
        <label for="heading" class="form-label">Überschrift</label>
        <input id="heading1" type="text" name="heading" class="form-control" aria-describedby="heading" value="Neue Seite" />
    </div>
    <div id="fotosbox" class="mb-3" style="display: none;">
        <label for="fotos" class="form-label">Fotos</label><br />
        <div>
          <label for="web-worker1">
            <span id="web-worker1-progress"></span>
            <input id="web-worker1" type="file" multiple="multiple" accept="image/*" onchange='compressImages(event, true, "#web-worker1");' />
          </label>
          <p id="web-worker1-log"></p>
        </div>
        <hr />
    </div>
    <div id="textbox" class="mb-3">
        <label for="text" class="form-label">Text</label>
        <textarea id="text" name="text" class="form-control" aria-label="text" ></textarea></div>
    <input id="submit" type="text" class="btn btn-primary" onClick="submit();" value="Upload" />
    <script>
        function change(selectObject) {
            layout = selectObject.value
            let submitButton = document.getElementById("submit")
            if(selectObject.value == "gallery") {
                document.getElementById("fotosbox").style.display = "block"
                document.getElementById("textbox").style.display = "none"
                submitButton.setAttribute("class", "btn btn-secondary")
                submitButton.setAttribute("onClick", "")
            } else {
                document.getElementById("fotosbox").style.display = "none"
                document.getElementById("textbox").style.display = "block"
                submitButton.setAttribute("class", "btn btn-primary")
            }
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/3.21.1/minified.min.js"
    integrity="sha512-U2gvuX8NaNSc0MOOvd1CTMp/kuzhlJ8HJKWF4G8JAw66iH+1keU5Mrzzrnqktf1SphOCow6dy69sTdblJdI8mA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/browser-image-compression@latest/dist/browser-image-compression.js"></script>
    <!--<script type="text/javascript" src="http://localhost:8080/js/utility.js"></script>-->
  <script src="/js/compress.min.js"></script>
  </div>
    </body>
</html>
<%- include('_footer'); %>