<%- include('_header'); -%>
<style>
    .form-select {
        max-width: 300px;
    }
    input {
        max-width: 300px;
    }
    textarea {
        max-width: 600px;
        height: 250px;
    }
</style>
<form action="/page/save" class="container" enctype="multipart/form-data" method="post">
    <h2><%= title1 %></h2>
    <div class="mb-3">Layout: 
        <select class="form-select" name="layout" onchange="change(this)" aria-label="Layout select" >
          <option selected>text-with-title</option>
          <option>gallery</option>
        </select>
    </div>
    <div class="mb-3" id="heading">
        <label for="heading" class="form-label">Überschrift</label>
        <input type="text" name="heading" class="form-control" aria-describedby="heading" value="Neue Seite" /></div>
    </div>
    <div id="fotosbox" class="mb-3" style="display: none;">
        <label for="fotos" class="form-label">Fotos</label>
        <input type="file" name="multipleFiles" multiple="multiple" /></div>
    <div id="textbox" class="mb-3">
        <label for="text" class="form-label">Text</label>
        <textarea name="text" class="form-control" aria-label="text" ></textarea></div>
    <input type="submit" class="btn btn-primary" value="Upload" />
    <script>
        function change(selectObject) {
            layout = selectObject.value
            if(selectObject.value == "gallery") {
                document.getElementById("fotosbox").style.display = "block"
                document.getElementById("textbox").style.display = "none"
            } else {
                document.getElementById("fotosbox").style.display = "none"
                document.getElementById("textbox").style.display = "block"
            }
        }
    </script>
  </form>
    </body>
</html>
<%- include('_footer'); -%>