<%- include('_header'); -%>

<main id="content" class="container-fluid text-center">
    <div class="row align-items-start">
        <div class="col">
            <h1 class="heading greeter">Welcome to <strong><%= websitetitle %>!</strong></h1>
            <p><%= text %></p>
            <img class="image img-fluid greeter-img" src="images/ich.jpg"/>
        </div>
        
    </div>
</main>

<%- include('_footer'); -%>