body { 
    font-family: Arial;
    background-color: #fefefe; 
    /*background-image: url('../images/DSC_0766.JPG');*/
}
nav, .container { border: 0px solid black; }
.container { margin-top: 0.5em; margin-bottom: 0.5em; }

.background-transp { 
    /*background-color: hsl(0 0% 97% / 80%);*/
    background-color: #fefefe;
}

a:visited { color: black; }

h3 { background-color: lightgray; }
audio { margin-bottom: 0.5em; }
img { max-width: 50vw; }
a:hover { color: lightgray; background-color: black; }

.topline { letter-spacing: 0.1em; width: fit-content; }
.heading { font-size: 2.0em; }
.greeter > strong { font-size: 1.5em; }
.greeter-img { height: 490px; }

.nav-container { height: fit-content; }
nav { background-color: #f8f8f8; height: 1.8em; }
.nav-item-container { background-color: white; }
.nav-item {

}
.nav-link {
    color: black; font-weight: normal; text-decoration: none; background-color: lightgray; font-size: 1.2em; height: 1.5em;  display:inline-block; padding: 0;
}
.nav-link:hover { color: lightgray; background-color: black; }
.nav-item-first > a { font-weight: bold; }
.navbar-brand { background-color: lightgray; font-weight: bold; }
.navbar-brand:hover { color: lightgray; background-color: black; }
.navbar {
    height: fit-content; 
}
.navbar-nav {
    height: fit-content;
    margin: 0;
    padding: 0;
}
.nav-item {
    margin: 0;
    height: 3.0em;
    height: 100%;
}
.nav-link {
    background-color: white;
    font-size: 1.1em;
    color: #595959;
    height: 100%;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
a:visited {
    color: #595959;
}
.col {
    border: 0px solid black;
    margin-top: 1.0em;
    padding: 0.5em;
}
#content {
    padding-left: 2%; padding-right: 2%
}
.img-placeholder {
    background-color: darkgray; width: 100%; height: 400px;
}
.notesbox { 
    font-family: monospace; float: left;
    width: 5vw;  min-width: 400px;
}
.urgent::marker {
    color: red;
}
.solved::marker {
    color: limegreen;
}